.background {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "countdown"
    "logo"
    "title"
    "description"
    "subscribe"
    "social";
  justify-items: center;
  align-items: center;
  color: var(--white);
}
