.description {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  max-width: 800px;
}

.description .text {
  font-size: 85px;
  color: yellow;
  margin: 0;
  padding: 0;
}

.description .slogan {
  font-size: 35px;
  margin: 0;
  padding: 25px 0 0 0;
}
