:root {
  --green: #4ecdc4;
  --darkGrey: #292f36;
  --white: #fffffa;
  --black: #000103;
  --orange: #fa8334;
  --red: #ff312e;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../images/wedding-holding-hand.jpeg);
  font-family: 'Tiro Devanagari Marathi', cursive;
  background-repeat: no-repeat;
  background-position:center;
  background-color: black;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
